

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
}

.header {
    width: 100%;
    height: 100px;
}
.header-content {
    display: flex;
    justify-content: space-between;
}
.header-img-box {
    width: 100px;
    height: 33px;
}
.header-img {
    width: 100%;
    padding: 20px;
}
/* ハンバーガーメニュー */
.menu {
    position: fixed;
    width: 100px;/* 赤い四角のサイズをやや大きく */
    height: 100px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;/* 線を中央に配置 */
    align-items: center;
    background-color: #ff2a2a;/* 赤い背景 */
    position: relative;
    z-index: 1000;
    transition: 0.3s;
}
/* 三本線 */
.menu div {
    width: 50%;/* 幅を縮めて中央に配置 */
    height: 2px;/* 線を細く */
    background: white;/* 線は白色 */
    margin: 6px 0;/* 線間の余白 */
    transition: 0.3s;
}

/* ハンバーガーが×に変化 */
.menu.active div:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

.menu.active div:nth-child(2) {
    opacity: 0;
}

.menu.active div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
}

/* メニュー */
.sp-menu {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: #ff2a2a;
    position: fixed;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 22;
}

/* メニュー表示 */
.sp-menu.active {
    visibility: visible;  /* 表示 */
    opacity: 1;
}

/* メニューリスト */
.sp-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sp-menu-lists {
    padding: 10px 0;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.sp-menu-lists:hover {
    color: #ff2a2a;
}

/* ボタン */
.sp-menu-btn {
    width: 100%;
    padding: 10px;
    background: #ff2a2a;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.article01-warapper {
    position: relative;
    height: 720px;
}
.article-img-box {
    width: 100%;
    object-fit: cover;
  }
  .main-img {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 75%;
    height: 720px;
    object-fit: cover;
    opacity: 0;
  }
  .article-img-box::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 75%;
    height: 720px;
    box-shadow: inset 0px 0px 20px 20px #fff;;
  }
  .main-img, .active {
    content: "";
    position: absolute;
    width: 75%;
    animation: 5s FadeIn;
  }
  /* 画像がフェードイン＆ズームインし、フェードアウトするアニメーション */
  @keyframes FadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
.article01-text {
    position: absolute;
    top: 190px;
    left: 10%;
    z-index: 10;
}

.article01-title {
    font-size: 1.75rem;
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 0 4px 6px #fff;
    letter-spacing: 0.1em;
    margin-left: 16px;
  }
.title-btn {
    width: 100%;
    top: 0px;
    left: 16px;
    background-color: #ff2a2a;
    border-color: #ff2a2a;
    border-bottom: 6px solid #9a0413;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
    display: block;
    padding: 15px 35px;
    text-align: center;
    transition: 0.3s;
    position: relative;
  }
.title-btn::after {
    content: "";
    width: 16px;
    height: 16px;
    border-top: solid 3px #fff;
    border-right: solid 3px #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 26px;
    right: 30px;
  }
  .article-warapper {
    display: block;
    margin:20px 0;
  }
.article-title {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 60px;
    text-align:center;
    position: relative;
}
.article-title::after {
    content: "";
    width: 100px;
    height: 3px;
    background-color: #333;
    display: block;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
/* BBBが選ばれる理由 */
.article-warapper {
    display: block;
}
.bg {
    background-color: #ff2a2a;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
}
.slide01 {
    width: 50%;
    opacity: 0;
    transition: opacity 1s, transform 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 5%;
}
.slide02 {
    width: 50%;
    margin-left: 50%;
    opacity: 0;
    transition: opacity 1s, transform 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 5%;
}

/* それぞれの位置とアニメーション */
.slide01 {
    transform: translateX(-30px);   /* 上にずらす */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.slide02 {
    transform: translateX(30px);    /* 下にずらす */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.fadein-after{
    /*透過度の設定。非表示から表示にする。*/
    opacity: 1;
    /*要素を100px左にしていたのを元の位置に戻す*/
    transform: translate(0);
}

.slide-img-box {
    display: block;
}
.slide-img {
    width: auto;
    height: 60px;
    margin-right: 30px;
}
.slide-text {
    color: #ff2a2a;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
}
.slide-texts {
    font-size: 1.125rem;
}

/* 受験生の声*/

.comment-warapper {
    display: flex;
    flex-direction: column;
}

.comment {
    transform: translateX(100px) scale(0.8);
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 1s, transform 1s;
}
.student-img {
    width: 120px;
    background-color: #ccc;
    border-radius: 50%;
    margin-bottom: 10px;
}
.comments {
    width: 60%;
    display: flex;
    justify-content: center;
    background: #e9f1fb;
    border-radius: 15px;
    padding: 20px;
    margin-left: 25px;
    position: relative;
}
.comments::before {
    content: "";
    position: absolute;
    top: 60%;
    left: 0;
    margin-left: -30px;
    border: 15px solid transparent;
    border-right: 15px solid #e9f1fb;
}

.comment-left {
    transform: translateX(-100px) scale(0.8);
    opacity: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
    transition: opacity 1s ease, transform 1s ease;
}
.pop-in {
    opacity: 1;
    transform: translateX(0) scale(1); /* 拡大しながら元の位置に */
}
.comments-left {
    width: 60%;
    display: flex;
    justify-content: center;
    background: #e9f1fb;
    border-radius: 15px;
    padding: 20px;
    margin-right: 25px;
    position: relative;
}
.comments-left::before {
    content: "";
    position: absolute;
    top: 60%;
    right: 5px;
    margin-right: -34px;
    border: 15px solid transparent;
    border-left: 15px solid #e9f1fb;
}
.student-neme, .student-job {
    margin: 0px;
    text-align: center;
    font-size: 0.75rem;
}


/* スクールの概要*/
.section03 {
    width: 100%;
    max-width: 860px;
    margin: 0 auto 120px;
}
.lesson-warapper {
    background: url(./imgFile/img/bg.gif) repeat;
    padding: 60px 0;
}
.lesson {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0px;
}
.titles {
    list-style: none;
    width: 30%;      /* 幅を調整し2列に */
    background-color: #fff;
    border-radius: 20px;
    padding: 60px;
}
.lesson-title {
    font-weight: bold;
    line-height: 1;
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 15px;
}
.lesson-sab-title {
    display: block;
    text-align: center;
    font-size: 1.125rem;
    margin-bottom: 30px;
}
.coupon {
    margin-bottom: 120px;
    text-align: center;
    width: 100%;
    max-width: 860px;
    margin: 0 auto 120px;
}
.coupon-btn {
    text-decoration: none;
    background-color: #ff2a2a;
    border-radius: 40px;
    border: solid 3px #ff2a2a;
    color: #fff;
    font-size: 1.75rem;
    font-weight: bold;
    display: block;
    padding: 15px;
    text-align: center;
    transition: 0.3s;
}
/* フッター*/

.footer {
    background-color: #E8E8E8;
    padding: 60px 0 20px 0;
}
.footer-menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.footer-menu-title {
    font-weight: bold;
}
.lists {
    list-style: none;
    margin-left: -30px;
    font-size: 0.875rem;
}


/* スマホサイズ (900px未満) */
@media (max-width: 899px) {

    .article-img-box {
        width: 100%;
        margin-bottom: 80px;
    }

    .main-img {
      top: 0;    /* 中央配置 */
      left: 0;
      width: 100%;
      height: auto;
      opacity: 1;
    }
    .article-img-box::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        width: 100%;
        box-shadow: inset 0px 0px 20px 20px #fff;
        opacity: 1;
    }

    .article01-text {
        width: calc(100% - 32px);
        top: 310px;
        left: 16px;
      }
      .slide01 {
        width: 80%;
    }
    .slide02 {
        width: 100%;
        margin-left: 10px;
        padding: 10px 0;
    }

        /* 受験生の声*/

    .comment {
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 10%;
        text-align: center;
    }
    .comments::before {
        top: 100%;
        left: 50%;
        margin-left: -4%;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #e9f1fb;
    }
    .comments {
        margin-left: 0;
    }
    .comment-student {
        margin-top: 30px;
        text-algn: center;
    }
    .comments-left {
        margin-right: 0;
    }
    .comment-left {
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 10%;
        text-align: center;
    }
    .comments-left::before {
        top: 100%;
        right: 50%;
        margin-right: -4%;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #e9f1fb;
    }

/* スクールの概要*/

    .titles {
        width: 50%;
    }

    .coupon {
        padding: 0 16px;
    }
}





